In [1]:
# Import dependencies
import pandas as pd
import datetime
from sqlalchemy import create_engine

# Stocks

In [2]:
stocks_url = 'https://finance.yahoo.com/most-active?offset=0&count=50'
tables = pd.read_html(stocks_url)
stock_df = tables[0]
stock_df.head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,QCOM,QUALCOMM Incorporated,68.70,-9.05,-11.64%,49.946M,20.272M,83.519B,36.27,NaN
1,GE,General Electric Company,9.92,-0.04,-0.40%,32.272M,79.418M,86.51B,NaN,NaN
2,AMD,"Advanced Micro Devices, Inc.",27.26,-0.09,-0.31%,30.106M,67.544M,29.49B,109.50,NaN
3,S,Sprint Corporation,6.61,-0.61,-8.52%,29.969M,19.523M,26.937B,NaN,NaN
4,CHK,Chesapeake Energy Corporation,2.21,-0.17,-7.14%,24.789M,46.28M,3.571B,NaN,NaN

In [3]:
# Remove trailing letter and then convert datatype on the series of 'Market Cap' and 'Volume'
market_cap_cleaned = stock_df['Market Cap'].str.rstrip('B')
volume_cleaned = stock_df['Volume'].str.rstrip('M')
perc_change_cleaned = stock_df['% Change'].str.rstrip('%')

perc_change_converted = perc_change_cleaned.astype(float)
market_cap_converted = market_cap_cleaned.astype(float)
volume_converted = volume_cleaned.astype(float)

stock_df.drop(labels = '52 Week Range', axis=1, inplace=True)
stock_df.drop(labels = 'Market Cap', axis=1, inplace=True)
stock_df.drop(labels = 'Volume', axis=1, inplace=True)
stock_df.drop(labels = '% Change', axis=1, inplace=True)
stock_df['Market Cap ($Bil.)'] = market_cap_converted
stock_df['Volume (Mil.)'] = volume_converted
stock_df['Percentage_change'] = perc_change_converted

In [4]:
stock_df['Time'] = datetime.datetime.now()
stock_df_filtered = stock_df[stock_df['Market Cap ($Bil.)'] > 100.0]

stock_df_filtered.reset_index(inplace=True)
stock_df_filtered.drop(labels = 'index', axis=1, inplace=True)

stock_df_filtered.head()

/Users/Mona/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Symbol,Name,Price (Intraday),Change,Avg Vol (3 month),PE Ratio (TTM),Market Cap ($Bil.),Volume (Mil.),Percentage_change,Time
0,AAPL,Apple Inc.,183.24,-3.36,29.285M,15.41,843.080,18.440,-1.80,2019-05-22 11:28:51.707519
1,BAC,Bank of America Corporation,28.50,-0.19,55.787M,10.60,271.016,17.018,-0.65,2019-05-22 11:28:51.707519
2,BABA,Alibaba Group Holding Limited,159.07,-4.36,14.529M,45.49,412.326,16.303,-2.67,2019-05-22 11:28:51.707519
3,CSCO,"Cisco Systems, Inc.",55.94,-0.58,20.569M,19.41,246.242,11.714,-1.03,2019-05-22 11:28:51.707519
4,T,AT&T Inc.,32.24,-0.17,29.592M,12.15,235.328,11.465,-0.51,2019-05-22 11:28:51.707519

# ETFs

In [5]:
etfs_url = 'https://finance.yahoo.com/etfs?offset=0&count=50'
tables = pd.read_html(etfs_url)
etfs_df = tables[0]
etfs_df.head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,50 Day Average,200 Day Average,52 Week Range
0,FLN,First Trust Latin America AlphaDEX Fund,19.20,0.79,+4.29%,254,19.65,19.64,NaN
1,GULF,WisdomTree Middle East Dividend Fund,20.19,0.06,+0.27%,1828,20.86,19.75,NaN
2,VLU,SPDR S&P 1500 Value Tilt ETF,102.45,1.26,+1.25%,10,103.49,100.32,NaN
3,NFO,Invesco Insider Sentiment ETF,66.74,0.11,+0.16%,403,66.06,62.63,NaN
4,BICK,First Trust BICK Index Fund,25.55,0.25,+0.99%,1933,27.04,26.40,NaN

In [6]:
etf_perc_change_cleaned = etfs_df['% Change'].str.rstrip('%')

etf_perc_change_converted = etf_perc_change_cleaned.astype(float)

etfs_df.drop(labels = '52 Week Range', axis=1, inplace=True)
etfs_df.drop(labels = '% Change', axis=1, inplace=True)

etfs_df['Percentage_change'] = etf_perc_change_converted
etfs_df['Time'] = datetime.datetime.now()
etfs_df.head()

,Symbol,Name,Price (Intraday),Change,Volume,50 Day Average,200 Day Average,Percentage_change,Time
0,FLN,First Trust Latin America AlphaDEX Fund,19.20,0.79,254,19.65,19.64,4.29,2019-05-22 11:28:53.907448
1,GULF,WisdomTree Middle East Dividend Fund,20.19,0.06,1828,20.86,19.75,0.27,2019-05-22 11:28:53.907448
2,VLU,SPDR S&P 1500 Value Tilt ETF,102.45,1.26,10,103.49,100.32,1.25,2019-05-22 11:28:53.907448
3,NFO,Invesco Insider Sentiment ETF,66.74,0.11,403,66.06,62.63,0.16,2019-05-22 11:28:53.907448
4,BICK,First Trust BICK Index Fund,25.55,0.25,1933,27.04,26.40,0.99,2019-05-22 11:28:53.907448

# Load

In [7]:
rds_connection_string = "root:password@localhost"
engine = create_engine(f'mysql://{rds_connection_string}')

In [8]:
engine.execute('CREATE DATABASE IF NOT EXISTS wolves_db')

In [9]:
engine.execute('USE wolves_db')

In [17]:
# Confirm tables
# engine.table_names()

In [14]:
stock_df_filtered.to_sql(name='market_data', con=engine, if_exists='append', index=False)

In [11]:
etfs_df.to_sql(name='etfs_data', con=engine, if_exists='append', index=False)

In [16]:
# use wolves_db;

# -- This is a sample query where the day trading setup criteria at this time is stocks 
# -- that have a percentage change of 1 or more on the day in either direction

# select * from market_data;

# create or replace view high_percentage_change as 
# select * from market_data where Percentage_change > 1 or Percentage_change < -1;

# select * from high_percentage_change;